p::after{
    content: "This content is para";
}
p::before{
    content: "This is the para";
}
p::first-letter{
    background-color: brown;
}
p::first-line{
    background-color: blue;
}
p::selection{
    background-color: salmon;
    color:azure;
}
